#log {
  width: 50%;
}
.tab {
  margin: auto;
  width: 100%;
  height: 60px;
  border: 2px solid #142850;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 2px;
  background-color: #bae2fd;
}
.tab1 {
  margin: auto;
  width: 100%;
  height: 60px;
  border: 2px solid #142850;
  display: flex;
  flex-direction: row;
  padding: 2px;
  background-color: #bae2fd;
}
img {
  padding: 2px;
  border-radius: 30px;
}
.diss {
  padding-left: 10px;
}
.name,
.message {
  padding-top: 5px;
}
#back {
  background-color: #bae2fd;
  border: none;
  font-size: large;
}
.messagetab {
  margin: auto;
  width: 100%;
  height: 400px;
  border-left: 2px solid #142850;
  border-right: 2px solid #142850;
  border-bottom: 2px solid #142850;
  display: flex;
  padding: 2px;
  background-color: #bae2fd;
}
.bottomarea {
  align-self: flex-end;
  padding: 5px;
}
textarea {
  resize: none;
}
